.footer {
    background: rgb(0, 63, 0);
    color: white;
    padding: 20px;
    font-size: 11px;
    p,
    ul {
        margin: 0;
        font-size: 1rem;
    }
    li {
        margin-left: 20px;
    }
    i {
        font-size: 2rem;
    }
}